/********** Template CSS **********/
:root {
    --azulclaro: #b2d9f7;
    --azulescuro: #487aa1;
    --cinzamedio: #7c8071;
    --cinzaescuro: #3d3c3b;
    --cinzaclaro: #dde3ca;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--cinzaclaro);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
}

.navbar-custom {
    background-color: var(--cinzaescuro);
    width: 100%;
    padding: 0 60px;
}

.navbar-custom .navbar-brand {
    background-color: transparent;
}

.navbar-brand img {
    width: 200px;
    height: auto;
    max-height: 50px;
    margin-top: 15px;
}

.navbar-custom .nav-link {
    color: var(--cinzaclaro);
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
    color: var(--cinzamedio);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-custom .navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--cinzaclaro);
    position: relative;
}

.navbar-custom .navbar-toggler-icon::before,
.navbar-custom .navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--cinzaclaro);
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.navbar-custom .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-custom .navbar-toggler-icon::after {
    top: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        width: auto;
        height: auto;
    }

    .navbar .navbar-nav {
        margin-top: 75px;
        border-top: 1px solid var(--cinzaclaro);
        padding-left: 15px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
        font-size: 14px;
    }

    .navbar-brand img {
        width: 150px;
        max-height: 40px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 2px;
        background-color: var(--cinzaclaro);
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: var(--cinzaclaro);
        position: absolute;
        left: 0;
    }

    .navbar-toggler-icon::before {
        top: -8px;
    }

    .navbar-toggler-icon::after {
        top: 8px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }

    .navbar-brand img {
        width: 180px;
        max-height: 50px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 120px;
        max-height: 35px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 12px;
    }

    .navbar .navbar-nav {
        margin-top: 50px;
        padding-left: 10px;
    }
}

/*** Header INDEX ***/
.about-main-content {
    margin-top: 0;
    background-image: url(../img/Designer.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}

.about-main-content .content {
    text-align: center;
    padding: 120px 60px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.about-main-content .content h2 {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 50px;
    margin-bottom: 25px;
}

.about-main-content .content .line-dec {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 2px;
    background-color: rgba(250, 250, 250, 0.3);
    margin: 20px auto;
}

.about-main-content .content h4 {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
}

.about-main-content .content p {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 0px 15%;
}

.about-main-content .content .main-button {
    position: relative;
    z-index: 2;
    margin-top: 30px;
}

.about-main-content .content .main-button a {
    background-color: #fff;
    color: var(--cinzaescuro);
    border-color: #fff;
}

.about-main-content .content .main-button a:hover {
    opacity: 0.9;
}

.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #3d3c3b;
    border: 1px solid #3d3c3b;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-button a:hover {
    background-color: var(--cinzamedio);
    color: var(--cinzaclaro);
    border: 1px solid #fff;
}

.blur-bg {
    width: 100%;
    height: 100%;
    background: url(../img/Designer.jpeg) no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px) brightness(80%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/*** Header ONGS e voluntários ***/
.about-main-content-header {
    margin-top: 0;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: var(--cinzaclaro);
    padding: 150px 0;
    position: relative;
}

.about-main-content-header .containerHeader {
    position: relative;
    z-index: 2;
}

.about-main-content-header .contentHeader h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cinzaclaro);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.about-main-content-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width: 768px) {
    .about-main-content-header {
        padding: 100px 20px;
    }

    .about-main-content-header .contentHeader h2 {
        font-size: 2rem;
    }
}

/*** Header SOBRE ***/
.contentSobre {
    margin-top: 0;
    background-image: url(../img/aveSobreNos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    text-align: center;
    color: var(--cinzaclaro);
    padding: 150px 0;
    position: relative;
}

.contentSobre .containerSobre {
    position: relative;
    z-index: 2;
}

.contentSobre  .contentSobreT h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cinzaclaro);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.contentSobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width: 768px) {
    .contentSobre  {
        padding: 100px 20px;
    }

    .contentSobre  .contentSobreT h2 {
        font-size: 2rem;
    }
}

/* Estilos da Seção Principal */
.container-xxl.contact {
    background-color: var(--cinzaclaro);
    padding: 50px 20px;
    color: var(--cinzaclaro);
}

.container-xxl {
    max-width: none;
}

.container-xxl.contact h2 {
    color: var(--azulescuro);
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.container-xxl.contact p {
    color: var(--cinzamedio);
    text-align: center;
    margin: 0 20px 20px 20px;
}

/* Estilos da Seção ONGs por Região */
.ongs-section {
    text-align: center;
}

.ongs-section h3 {
    color: var(--azulescuro);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

/* Estilos do Carrossel de Imagens */
.carouselimg {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carouselimg img {
    width: auto;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.carouselimg img:hover {
    transform: scale(1.05);
}

/* legenda das fotos */
.carousel-item {
    position: relative;
    display: inline-block;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.minha-lista {
    display: block;
    margin-top: -40px;
}

.minha-lista li {
    padding: -10px;
    font-size: 1rem;
    color: var(--cinzamedio)
}
.minha-lista ul {
    padding: -10px;
    font-size: 1rem;
    color: var(--cinzamedio)
}

/* Filtro ONGS */
.elemento {
    display: none;
}

.show {
    display: block;
}

.btnFiltro {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--cinzaescuro);
    color: var(--cinzaclaro);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btnFiltro:hover {
    background-color: var(--cinzamedio);
    transform: scale(1.05);
}

/* formulario */
.voluntario-form .form-floating>label {
    color: var(--cinzaescuro);
}

.voluntario-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    max-width: 500px; 
    width: 90%;
}

.voluntario-form .form-floating {
    margin-bottom: 15px;
}

.voluntario-form .form-control {
    border-radius: 5px;
}

.voluntario-form .btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.voluntario-form .btn-primary:hover {
    background-color: #ffffff;
}

/* nome, email e telelone */
.form-control {
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #495057;
}

.form-control:focus {
    background-color: #ffffff;
    color: #495057;
    outline: 0;
}

.form-control:not(:placeholder-shown) {
    background-color: #ffffff;
    color: #495057;
}

/* Form Responsivo */
.voluntario-form .form-floating {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .voluntario-form {
        padding: 15px;
        width: 100%;
        max-width: none;
    }
}


/* Botão formulario */
.btn-form {
    background-color: var(--cinzaescuro);
    color: var(--cinzaclaro);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-form:hover {
    background-color: var(--cinzamedio);
    border-color: var(--cinzamedio);
    color: var(--cinzaclaro);
}

/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}

/*** Footer ***/
.footer {
    color: #B0B9AE;
    background-color: #252525;
    text-align: center;
    padding: 20px 0;
}

.text-primary1 {
    color: var(--cinzaclaro);
}

.footer .btn-link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: var(--cinzaclaro);
    text-decoration: none;
    font-weight: normal;
}

.footer .btn-link:hover {
    color: #FFFFFF;
}

.copyright {
    color: #B0B9AE;
    margin-top: 20px;
}

.copyright a {
    color: #B0B9AE;
    text-decoration: none;
}

.copyright a:hover {
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carouselimg img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.mb-2 {
    color: var(--cinzaescuro);
}

.contact-box {
    width: 100%;
    max-width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
}

.contact-box i {
    color: var(--cinzaescuro) !important;
}

.contact .row.g-5 {
    justify-content: space-between;
}

.regiao {
    width: 100%;
}

/* REGIÃO*/
.amazing-deals {
    padding: 50px 15px;
    background-color: #f9f9f9;
}

.containerReg {
    max-width: 1200px;
    margin: 0 auto;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.section-heading p {
    font-size: 16px;
    color: #666;
}

.rowReg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.itemReg {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* Três por linha */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemReg:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.imageReg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.contentReg {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
}

.contentReg h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.contentReg p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.contentReg .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.contentReg .col-6 i {
    font-size: 16px;
    color: #007bff;
}

@media (max-width: 992px) {
    .itemReg {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 576px) {
    .itemReg {
        width: 100%; 
    }
}

.fas{
    color: var(--cinzaescuro) !important;
}

.textos{
    text-align: justify !important;
    text-align: left !important;
    margin-left: 0;
}